.header {
  display: flex;
  align-items: center;
}

.logo-img {
  margin: 0px 15px;
}

.logo-text {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  margin-right: 20px;
}

.nav-button-container {
  margin-left : auto;
  margin-right: 20px;
}

.nav-button {
  padding: 0px 10px;
}

.nav-button a {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.content {
  display: flex;
  border: 1px solid black;
  margin: 10px 0px;
}

.column {
  border: 1px solid black;
  min-height: 10px;
  margin: 40px 10px;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  flex-grow: 1;
}

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-grow: 1;
}

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
  flex-grow: 1;
}

.story {
  border: 1px solid black;
  padding: 10px 10px;
  margin: 0px 10px;
}
