.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.logo-text {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  margin: 0px 10px;
}

.nav-button-container {
  margin-left: auto;
  margin-right: 20px;
}

.nav-button {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 0px 10px;
}

.content-column-container {
  display: flex;
  flex-flow: row wrap;
  padding: 5px 5px;
  margin: 5px 5px;
  border: 3px dotted black;
}

.content-column {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 100%;
  padding: 10px 10px;
  margin: 5px 5px;
  border: 2px dotted black;
}

.large {
  flex-basis: 630px;
}

.medium {
  flex-basis: 300px;
}

.small {
  flex-basis: 240px;
}

.story {
  padding: 0px 5px;
  border: 1px dotted black;
}

.story-title {
  font-size: 20px;
  font-weight: bold;
}

#news-bite {
  display: flex;
  min-height: 0%;
  justify-content: center;
  align-items: center;
}

#news-bite > span {
  min-width: 0%;
  min-height: 0%;
}

#news-bite > span > img {
  max-width: 100%;
  max-height: 100%;
}
